* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, sans-serif;
  background-color: #ddd;
  font-size: 19px;
}

.red {
  color: red;
}

header {
  background-image: url("bg02.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

#logo {
  padding: 80px 0;
  text-align: center;
}

#logo img {
  max-width: 400px;
  border: 5px solid #fff;
  border-radius: 100%;
}

#logo {
  letter-spacing: 0.30em;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

nav {
  margin: 0 0 30px 0;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav ul li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

selected {
  color: #000;
}

.container {
  max-width: 800px;
  margin: -455px auto 0;
  background-color: #fff;
}

section {
  padding: 30px 50px;
}

section h2 {
  padding: 10px 0 50px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

footer {
  padding: 50px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ddd;
  color: #666;
}